body {
  font: 12px/1.8 "微软雅黑";
  height: 100%;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.logo {
  width: 35px;
  height: 35px;
  background: url('../images/icon.png') no-repeat -47px -38px;
}
.public-head {
  width: 100%;
  position: relative;
  background-color: #228abf;
  height: 55px;
}
.public-head .public-head-logo {
  float: left;
  display: block;
  width: 35px;
  height: 35px;
  margin: 10px 0 10px 50px;
  background: url('../images/icon.png') no-repeat -47px -38px;
}
.public-head .public-head-right {
  float: right;
}
.public-head .public-head-right .search {
  position: relative;
  width: 312px;
  height: 27px;
  background-color: #fff;
  border-radius: 156px;
  padding: 1px;
}
.public-head .public-head-right .search .search-btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 6px 6px;
  background: url('../images/icon.png') no-repeat 0 0;
}
.public-head .public-head-right .search .search-input {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  width: 243px;
  height: 23px;
}
.public-head .public-head-right .login {
  margin: 0 20px 0 95px;
}
.public-head .public-head-right .login .signin {
  color: #fff;
}
.public-head .public-head-right .fl {
  float: left;
}
.content {
  position: relative;
  width: 1280px;
  height: 1464px;
  margin: 0 auto;
}
.content .content-left {
  width: 215px;
  height: 100%;
  padding-left: 44px;
  color: #6e8095;
  background-color: #2a2e3d;
}
.content .content-left span {
  color: #6e8095;
}
.content .content-left .person {
  padding-top: 18px;
  margin-bottom: 32px;
}
.content .content-left .person .nickname {
  margin-left: 20px;
}
.content .content-left .person .num {
  margin-bottom: 35px;
}
.content .content-left .item {
  margin-left: -44px;
}
.content .content-left .item .chart {
  margin-left: -40px;
  padding-left: 40px;
  background-color: #383d4e;
}
.content .content-left .item .chart li {
  margin-bottom: 15px;
}
.content .content-left .item .chart .white {
  color: #fff;
  margin-bottom: 5px;
}
.content .content-left .item .chart-icon,
.content .content-left .item .mark-icon,
.content .content-left .item .share-icon,
.content .content-left .item .pic-icon,
.content .content-left .item .grow-icon,
.content .content-left .item .account-icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 17px;
}
.content .content-left .item .mark,
.content .content-left .item .share,
.content .content-left .item .pic,
.content .content-left .item .grow,
.content .content-left .item .account {
  margin-bottom: 32px;
}
.content .content-left .item .file,
.content .content-left .item .no-open,
.content .content-left .item .open,
.content .content-left .item .document {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 10px;
}
.content .content-left .item .no-open {
  background: url('../images/icon.png') no-repeat -20px -75px;
}
.content .content-left .item .open {
  background: url('../images/icon.png') no-repeat -20px -75px;
}
.content .content-left .item .file {
  background: url('../images/icon.png') no-repeat 0 -34px;
}
.content .content-left .item .document {
  background: url('../images/icon.png') no-repeat 0 -34px;
}
.content .content-left .item .chart-icon {
  background: url('../images/icon.png') no-repeat 0 -21px;
}
.content .content-left .item .mark-icon {
  background: url('../images/icon.png') no-repeat 0 -61px;
}
.content .content-left .item .share-icon {
  background: url('../images/icon.png') no-repeat 0 -75px;
}
.content .content-left .item .pic-icon {
  background: url('../images/icon.png') no-repeat 0 -61px;
}
.content .content-left .item .grow-icon {
  background: url('../images/icon.png') no-repeat 0 -61px;
}
.content .content-left .item .account-icon {
  background: url('../images/icon.png') no-repeat 0 -91px;
}
.content .content-right {
  position: absolute;
  top: 0;
  left: 260px;
  width: 960px;
  padding-left: 60px;
  background-color: #ededec;
}
.content .content-right .navbar {
  margin: 0px 0;
  height: 30px;
  width: 100%;
  line-height: 30px;
  background-color: #fff;
  color: #ddd;
  margin-left: -60px;
  padding-left: 60px;
}
.content .content-right .navbar .nav {
  margin-left: 5px;
}
.content .content-right .navbar .nav a {
  color: #ddd;
}
.content .content-right .navbar .nav:before {
  content: '/';
  margin-right: 5px;
}
.content .content-right .query {
  width: 890px;
  height: 87px;
  box-sizing: border-box;
  margin-top: 22px;
  padding: 18px 111px 14px 30px;
  background-color: #fff;
}
.content .content-right .query .query-column {
  float: left;
}
.content .content-right .query .query-item {
  margin-right: 40px;
}
.content .content-right .query .query-item span {
  margin-right: 15px;
}
.content .content-right .query .query-saler {
  margin-right: 32px;
}
.content .content-right .query .query-saler select {
  width: 120px;
  margin-bottom: 5px;
}
.content .content-right .query .query-saler span {
  margin-right: 10px;
}
.content .content-right .query .query-time {
  margin-right: 20px;
}
.content .content-right .query .query-time span {
  margin-right: 10px;
}
.content .content-right .query .query-time input {
  width: 120px;
  margin-right: 10px;
}
.content .content-right .query .query-time select {
  margin-right: 15px;
  margin-bottom: 5px;
}
.content .content-right .query .query-time .deal {
  width: 105px;
}
.content .content-right .query .query-btn {
  margin: 11px 0;
  width: 50px;
  height: 25px;
  border: 0;
  padding: 2px 10px;
  color: #fff;
  background-color: #228abf;
}
.content .content-right .history {
  position: relative;
  width: 890px;
  height: 87px;
  box-sizing: border-box;
  margin-top: 22px;
  float: left;
}
.content .content-right .history .prev,
.content .content-right .history .next {
  float: left;
  width: 33px;
  height: 66px;
  line-height: 66px;
  background-color: #fff;
  text-align: center;
}
.content .content-right .history .prev span,
.content .content-right .history .next span {
  font-size: 25px;
}
.content .content-right .history .item {
  width: 110px;
  height: 64px;
  float: left;
  background-color: #fff;
  margin-right: 5px;
  margin-top: -13px;
  border-width: 1px;
  border-top: solid #dedede;
  border-left: solid #dedede;
  text-align: center;
}
.content .content-right .history .next,
.content .content-right .history .calender {
  margin-top: -12px;
}
.content .content-right .history .calender {
  float: left;
  width: 103px;
  height: 65px;
  margin-left: 5px;
  background-color: #fff;
  text-align: center;
  padding: 17px 1px  15px 10px;
  box-sizing: border-box;
}
.content .content-right .history .calender .history-icon {
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: url('../images/icon.png') no-repeat -48px 0;
}
.content .content-right .history .calender p {
  margin-top: 7px ;
}
.content .content-right .sum {
  position: relative;
  height: 87px;
  box-sizing: border-box;
  margin-top: -22px;
  margin-left: -40px;
  float: left;
}
.content .content-right .sum .dealer {
  position: relative;
  width: 211px;
  height: 70px;
  float: left;
  box-sizing: border-box;
  margin-right: 15px;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-left: 2px solid #228abf;
}
.content .content-right .sum .dealer:last-child {
  margin-right: 0;
}
.content .content-right .sum .dealer p {
  display: inline-block;
}
.content .content-right .sum .dealer .differ {
  position: absolute;
  width: 60px;
  height: 47px;
  top: 13px;
  left: 126px;
  background-color: #228abf;
}
.content .content-right .project {
  position: relative;
  box-sizing: border-box;
  margin-top: 52px;
  float: left;
}
.content .content-right .project .project-left {
  float: left;
  width: 532px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 17px;
  border-radius: 5px;
}
.content .content-right .project .project-left .title {
  background-color: #f3f5f6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -17px -17px;
  padding: 5px 17px;
}
.content .content-right .project .project-left .nav {
  width: 440px;
  margin-bottom: 0;
}
.content .content-right .project .project-left .nav li {
  background-color: #f3f5f6;
  display: inline-block;
  width: 80px;
  height: 29px;
  line-height: 29px;
  margin-top: 20px;
  text-align: center;
}
.content .content-right .project .project-left .nav li a {
  color: #333;
}
.content .content-right .project .project-left .nav .selected {
  background-color: #fff;
  border: 1px solid #dedede;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content .content-right .project .project-left .content {
  width: 390px;
  height: 132px;
  margin-left: 40px;
  border: 1px solid #f3f5f6;
  padding: 30px;
  padding-bottom: 50px;
}
.content .content-right .project .project-left .content table {
  text-align: center;
  border: 1px solid #dedede;
}
.content .content-right .project .project-left .content table td {
  width: 96px;
  padding: 2px;
}
.content .content-right .project .project-right {
  float: left;
  margin-left: 10px;
  width: 350px;
  height: 311px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 17px;
  border-radius: 5px;
}
.content .content-right .project .project-right .title {
  background-color: #f3f5f6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -17px -17px;
  padding: 5px 17px;
}
.content .content-right .project .project-right .selected {
  margin-top: 40px;
}
.content .content-right .project .project-right .owner {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.content .content-right .project .project-right .owner .price,
.content .content-right .project .project-right .owner .response {
  display: inline-block;
}
.content .content-right .project .project-right .owner .price {
  padding-right: 50px;
}
.content .content-right .project .project-right .search {
  border-top: 1px solid #dedede;
  padding-top: 10px;
}
.content .content-right .project .project-right .search .check {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0px 5px -3px 0;
  background: url('../images/icon.png') no-repeat -15px -60px;
}
.content .content-right .project .project-right .search .btn {
  margin-left: 130px;
  border: 0;
  width: 50px;
  height: 25px;
  color: #fff;
  background-color: #228abf;
}
.content .content-right .satastic {
  box-sizing: border-box;
  margin-top: 52px;
  margin-bottom: 200px;
  float: left;
}
.content .content-right .satastic .satastic-left {
  float: left;
  width: 532px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 17px;
  border-radius: 5px;
}
.content .content-right .satastic .satastic-left .title {
  background-color: #f3f5f6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -17px -17px;
  padding: 5px 17px;
}
.content .content-right .satastic .satastic-left select {
  padding-left: 10px;
  margin-top: 40px;
  width: 100px;
  height: 30px;
  margin-left: 20px;
}
.content .content-right .satastic .satastic-left select:nth-of-type(1) {
  margin-left: 30px;
}
.content .content-right .satastic .satastic-left input {
  margin-left: 20px;
  width: 60px;
  height: 30px;
  border: 1px solid #dedede;
  background-color: #fff;
}
.content .content-right .satastic .satastic-left .calender-week {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin: 30px 0;
}
.content .content-right .satastic .satastic-left .calender-week li {
  float: left;
  margin-right: 50px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.content .content-right .satastic .satastic-left .calender-week li:first-child {
  margin-left: 10px;
}
.content .content-right .satastic .satastic-left .calender-day .first-day {
  margin-left: 19px;
  margin-right: 33px;
}
.content .content-right .satastic .satastic-left .calender-day li {
  float: left;
  margin-right: 38px;
  margin-bottom: 10px;
  text-align: center;
}
.content .content-right .satastic .satastic-left .calender-day li p {
  margin: 0;
}
.content .content-right .satastic .satastic-right {
  float: left;
  margin-left: 10px;
  width: 348px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 17px;
  border-radius: 5px;
}
.content .content-right .satastic .satastic-right .title {
  background-color: #f3f5f6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -17px -17px;
  padding: 5px 17px;
}
.content .content-right .satastic .satastic-right .car {
  margin-top: 30px;
  text-align: center;
}
.content .content-right .satastic .satastic-right .car tr {
  border: 1px solid #dedede;
}
.content .content-right .satastic .satastic-right .car th {
  padding: 3px 10px;
}
.content .content-right .satastic .satastic-right .car .index {
  float: left;
  margin-top: 9px;
  margin-right: 10px;
}
.content .content-right .satastic .satastic-right .car .progress {
  display: inline-block;
  border: 1px solid #dedede;
  background-color: #dedede;
  height: 0.23rem;
  width: 130px;
  margin-top: 16px;
}
.content .content-right .satastic .satastic-right .car .progress .progress-color {
  display: block;
  height: 0.23rem;
  line-height: 0.23rem;
  float: left;
  background-color: #3cc;
}
