body {
  font: 12px/1.8 "微软雅黑";
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.navbar {
  background-color: #228abf;
}
.navbar .navbar-brand {
  display: block;
  width: 35px;
  height: 35px;
  margin: 10px 0 10px 50px;
  background: url('../images/icon.png') no-repeat -47px -38px;
}
.navbar .form-control {
  float: right;
  width: 312px;
  height: 27px;
  border-radius: 156px;
}
